@import url('https://fonts.googleapis.com/css?family=Gayathri:100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Gayathri', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #e7e7f3;
}

header {
  width: 100%;
  height: 100px;
  background-color: #363636;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  padding-top: 15px;
  font-size: 4em;
  color: ghostwhite;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteAll {
  width: 110px;
  height: 30px;
  margin: 20px 0 30px 50px;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: bold;
  color: #330000;
  background-color: #ffb266;
  cursor: pointer;
}

.resetAll {
  width: 110px;
  height: 30px;
  margin: 20px 0 30px 20px;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: bold;
  color: #330000;
  background-color: #ffb266;
  cursor: pointer;
}

.fruitLine {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

img {
  margin-right: 5px;
}

.colourButton {
  width: 110px;
  height: 30px;
  border: none;
  outline: none;
  font-size: 0.9em;
  padding: 8px;
  margin: 10px;
  cursor: pointer;
}

.deleteButton {
  width: 110px;
  height: 30px;
  border: none;
  outline: none;
  font-size: 0.9em;
  padding: 8px;
  margin: 0 10px;
  color: ghostwhite;
  background-color: #363636;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #363636;
}

footer p {
  font-size: 0.6;
  color: ghostwhite;
  margin-left: 20px;
}

footer span {
  font-size: 1.5em;
  margin-top: 5px;
}
